<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Shop">
    <constructor>
      <idArg column="shop_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="category" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="shopname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="location" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="intro" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, category, shopname, location, tel, user_id, intro, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Shop">
    insert into shop (shop_id, category, shopname, 
      location, tel, user_id, 
      intro, create_time)
    values (#{shopId,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, #{shopname,jdbcType=VARCHAR}, 
      #{location,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{intro,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="shopname != null">
        shopname,
      </if>
      <if test="location != null">
        location,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="intro != null">
        intro,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="intro != null">
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Shop">
    update shop
    <set>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="shopname != null">
        shopname = #{shopname,jdbcType=VARCHAR},
      </if>
      <if test="location != null">
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="intro != null">
        intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Shop">
    update shop
    set category = #{category,jdbcType=VARCHAR},
      shopname = #{shopname,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      intro = #{intro,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>

  <!--design by myself-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop
  </select>
  <select id="selectShopid" parameterType="com.example.demo.pojo.Shop" resultType="java.lang.Integer">
    select  shop_id
    from shop
    <where>
      <if test="category != null">
         category = #{category,jdbcType=VARCHAR}
      </if>
      <if test="shopname != null">
        and shopname = #{shopname,jdbcType=VARCHAR}
      </if>
      <if test="location != null">
        and location = #{location,jdbcType=VARCHAR}
      </if>
      <if test="tel != null">
        and tel = #{tel,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="intro != null">
        and intro = #{intro,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
       and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
<select id="selectByuserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from shop
  where user_id = #{userId,jdbcType=INTEGER}
</select>
</mapper>